# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\HTML\Resume-Portfolio-Starter-pack\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
